body{
    background: url(kevin.jpg);
    background-size: cover;
    background-color: #f76304;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;

}
